@charset="UTF-8";

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

#container {
	background-color: maroon;
	width: 95%;
	height: 575px;
	border: 10px solid beige;
	border-radius: 20px;
}

#upper {
	color: beige;
	font-family: Roboto, sans-serif;
	width: 575px;
	height: 125px;
	padding-left: 250px;
	text-align: center;
}

#bigPic {
	width: 66%;
	background-color: #999;
	width: 35%;
	height: 375px;
	float: right;
	border-radius: 10px;
	border: 3px solid #AAA;
	padding: 25px;
	text-align: center;
	font-size: 25px;
	font-family: Roboto, sans-serif;
}

#bigPic img {
	width: 80%;
	height: auto;
	border-radius: 20px;
}


#thumbnails {
	width: 55%;
	background-color: #888;
	background-size: 450px;
	height: 375px;
	float: left;
	border-radius: 10px;
	border: 3px solid #AAA;
	padding: 25px;
	background-image: url(../images/janice-w-bunny-600x261.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

#thumbnails img {
	width: 70px;
	height: 70px;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 7px;
	box-shadow: 5px 5px 5px #555;
}

/* CSS for the absolute position div that holds a Chinese character image */
#char {
	display: none;
	position: absolute;
	background-color: white;
	height: 100px;
	margin-left: 130px;
	margin-top: 265px;
}

#char img {
	box-shadow: none;
	height: 100px;
	width: 145px;
}